---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout>
    <main>
        <h1>Hola, soy Andres <Badge>Disponible para trabajar</Badge></h1>
        <h2>Desarrollador de Software, soy de Colombia.</h2>
    </main>
</Layout>
