---
import imgProfile from '../assets/profile3.png';
import { Image } from 'astro:assets';

---

<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <Image 
        src={imgProfile} 
        alt="andres reyes" 
        class="rounded-full w-14 h-14" 
        loading="lazy"
    />
    <!-- <img 
        class="rounded-full w-14 h-14"
        src={imgProfile.src}
        alt="andres reyes"
    /> -->

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#acerca-de-mi">Acerca de mi</a>
        <a href="#contacto">Contáctame</a>
    </nav>

</header>